@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
	--body-font: 'Nunito Sans', sans-serif;
	--light-mode-text: hsl(200, 15%, 8%);
	--light-mode-background: hsl(0, 0%, 98%);
	--light-mode-input: hsl(0, 0%, 52%);
	--white: hsl(0, 0%, 100%);
	--dark-mode-bg: hsl(207, 26%, 17%);
	--dark-mode-elements: hsl(209, 23%, 22%);
	--purple: rgb(143, 43, 236);
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--light-mode-background);
	color: var(--light-mode-text);
	font-family: var(--body-font);
	font-size: 14px;
}

img {
	display: block;
}

a {
	text-decoration: none;
	color: var(--light-mode-text);
}

.text-center {
	text-align: center;
}

.container-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 4.7rem;
	column-gap: 4.5rem;
	width: 89%;
	margin: 0 auto;
}

.inside-container {
	width: 16.5rem;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 10px;
	-webkit-box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
	box-shadow: rgb(0 0 0 / 3%) 0px 0px 3px 3px;
}

.category {
	font-weight: 600;
}

.info-block-h2 {
	line-height: 1.3rem;
}

.info-block {
	display: flex;
	flex-direction: column;
	padding: 0 26px;
	margin-top: 1rem;
	line-height: 10px;
	padding-bottom: 2rem;
}

.image-container {
	width: 100%;
	overflow: hidden;
	height: 10rem;
}

.image {
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (hover: hover) {
	.region-list option:hover,
	.dark .region-list option:hover {
		color: var(--purple);
		transition: all ease-in-out 0.3s;
	}
}

@media screen and (max-width: 1201px) {
	.container-block {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 2rem;
		column-gap: 2rem;
		justify-items: center;
	}
	.country-block {
		align-items: center;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 1025px) {
	.container-block {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;
	}

	.search-section {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.border-countries {
		gap: 15px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		padding: 1rem;
	}
	.input-block {
		width: 20rem;
	}
	.container-block {
		grid-template-columns: repeat(1, 1fr);
	}

	.search-section {
		align-items: initial;
		padding: 1.5rem;
	}
	.details-block {
		flex-direction: column;
		gap: 1.5rem;
	}
}
